/*MD*/

@media screen and (max-width: 1200px)
{
	/*header*/
	.nav-pills-left
	{
		bottom: 0px;
		right: 0px;
	}
	
	/*iphone*/
	#iphone button:last-child
	{
		margin-right: 0px;
	}

	/*screens*/
	.screens_iphone
	{
		display: none;
	}

	.screens_slider
	{
		display: block;
	}
	
}

/*SM*/

@media screen and (max-width: 992px)
{
	/*header*/
	.nav-pills-left li:not(:first-child)
	{
		display: none;
	}

	.nav-pills-right li:not(:last-child)
	{
		display: none;
	}

	.leftdrop_adaptive {
		display: block;
	}

	/*iphone*/
	.iphone_block
	{
		text-align: center;
	}

	/*map*/
	.map_world img
	{
		width: 100%;
	}

	#map .container
	{
		margin-bottom: 0;
	}
	
	/*get*/
	#get
	{
		padding: 5%;
	}

	/*customers*/
	.slider_photos .slick-slide
	{
		margin-left: 190px !important;
	}

	.slider_content
	{
		right: 0 !important;
		width: 100% !important;
	}
}

/*XS*/

@media screen and (max-width: 768px)
{
	h4, h2, h3
	{
		font-size: 36px !important;
		text-align: center;
	}

	.plan_left-block
	{
		margin-top: 90px !important;
	}

	/*header*/
	header {
		min-height: initial;
	}
	.logo
	{
		width: 150px;
		margin: 0px auto;
	}
	
	h1
	{
		margin-top: 60px !important;
		font-size: 46px;
	}

	.maintitle_block
	{
		font-size: 16px;
	}
	

	/*features*/
	#features
	{
		padding: 5%;
	}


	.features_block, .features_block2
	{
		text-align: center;
	}

	.features_title
	{
		font-size: 20px;
	}

	.features_text
	{
		font-size: 16px;
	}
	

	/*iphone*/
	#iphone
	{
		height: 750px;
	}

	.iphone_block
	{
		text-align: center;
	}

	.iphone_title
	{
		font-size: 36px;
	}

	.iphone_text p
	{
		font-size: 18px;
	}

	.iPhone6
	{
		left: -100px;
		width: 700px;
		height: 600px;
	}
	

	/*map*/
	#map
	{
		margin-top: 0px;
		padding: 5% 0;
	}
	
	.map_world img
	{
		width: 100%;
	}

	.map_text
	{
		text-align: center;
	}

	/*get*/
	.input-group
	{
		width: 80% !important;
	}

	.form-control
	{
		width: 80% !important;
	}

	.input-group-btn button
	{
		width: 120px !important;
	}
	
	/*screens*/
	.screens_slider .slick-slide img
	{
		height: 400px;
	}
	.screens_slider .slick-slide .screens_slider-exception {
		transform: scale(0.85);
		position: relative;
		bottom: 23px;
		-webkit-box-shadow: 7px 13px 30px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    7px 13px 30px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         7px 13px 30px 0px rgba(50, 50, 50, 0.2);
	}
	
	/*customers*/
	.slider_photos .slick-slide img
	{
		height: 80px;
		width: 80px;
	}



	/*plan*/
	#plan
	{
		padding: 5%;
	}
	
	.plan_right-block
	{
		margin-top: 60px;
	}

	.btn_starter
	{
		margin-left: 0px !important;
	}

	.btn_starter_container, .btn_pro_container
	{
		position: relative;
		text-align: center;
	}
}


	/*SLICK*/
@media screen and (max-width: 600px)
{
	.slider_photos .slick-slide 
	{
    margin-left: 160px !important;
	}

	#customers h4
	{
		font-size: 26px !important;
	}

	#customers p
	{
		font-size: 16px;
	}

	.customers_author
	{
		font-size: 10px;
	}
	
	/*plan*/
	.starter_block, .pro_block
	{
		width: 100%;
	}

	.starter_block
	{
		margin-bottom: 15px;
	}

	.pro_block
	{
		margin-bottom: 50px;
	}

	.btn_started, .btn_pro
	{
		margin: 0px auto;
	}
	
	.starter_block, .pro_block
	{
		margin-right: 0px !important;
	}

	/*footer*/
	.logo a
	{
		font-size: 12px;
	}
	
}

	/*MOBILE*/

@media screen and (max-width: 460px)
{
	/*header*/
	.logo a
	{
		font-size: 0.8em;
	}

	#leftdrop li a {
		font-size: 24px
	}
	.nav_btn {
		display: none !important;
	}
	/*features*/
	#features{
		padding: 0;
	}
	.container_features {
		margin-top: 70px !important;
		margin-bottom: 45px;
	}
	.features_block, .features_block2
	{
		float: none !important;
		width: 90% !important;
		margin: 0px auto;
	}
	
	.features_block
	{
		margin-bottom: 40px;
	}
	
	/*iphone*/
	#scene {
		transform: translate3d(30px, -35px, 0px) rotate(0.0001deg);
	}
	#iphone {
		height: auto;
		margin-bottom: 60px;
	}
	#iphone button
	{
		width: 45% !important;
		font-size: 14px;
	}

	#iphone button i
	{
		left: 5px !important;
	}
	/* map */
	#map {
		margin-bottom: 40px;
	}
	/* screens */
	#screens h3 {
		margin-top: 0px;
	}
	/* get */
	#get a img {
		margin-bottom: 60px;
	}
	/*customers*/
	.slider_photos .slick-slide
	{
		margin-left: -75px !important;
	}

	.slider_photos .slick-track, .slider_photos .slick-list
	{
		margin-bottom: 0 !important;
	}
	
	#customers h4
	{
		font-size: 20px !important;
	}

	#customers p
	{
		font-size: 14px !important;
	}



	/*footer*/
	.learnmore_block, 
	.aboutus_block, 
	.support_block, 
	.footer_right-block,
	.footer_left-block
	{
		width: 100% !important;
		text-align: center !important;
	}
	
	.learnmore_block, 
	.aboutus_block, 
	.support_block
	{
		margin-bottom: 20px;
	} 

	.footer_caption
	{
		width: 100% !important;
	}

	.social_icons li
	{
		margin: 0px auto;
	}

	.footer_left-block
	{
		margin-bottom: 40px;
		margin-top: 0px;
	}

	.logo_footer
	{
		text-align: center;
	}

	.down_footer-link,
	.down_footer-logo
	{
		float: none !important;
		margin: 0px auto;
		text-align: center;
	}
}

